<form ng-submit="$ctrlForm.add(category)" ng-model="category" ng-if="$ctrlForm.$isAdding">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Enter Category"
      ng-model="$ctrlForm.category.title"
      ng-blur="$ctrlForm.add()">
  </div>
</form>
<button ng-if="!$ctrlForm.$isAdding" ng-click="$ctrlForm.$toggleAdd()" class="btn btn-primary btn-lg btn-block">Add</button>
