<ul class="list-group category-list">
  <li ng-repeat="category in $ctrl.categories track by $index" ui-sref-active="active" class="category-item list-group-item">
    <div class="row">
      <div class="col-md-8">
        <a ui-sref="categoryProducts({ categoryId: category._id })">
          <span ng-if="!category.isEdditing">{{category.title}}</span>
        </a>
        <form ng-if="category.isEdditing" ng-submit="$ctrl.edit(category)">
          <input autofocus type="text" class="form-control"
                 ng-model="category.title" ng-value="category.title" ng-blur="$ctrl.edit(category)">
        </form>
      </div>
      <div class="col-md-4 category-btns-set" ng-style="category.isEdditing && {'opacity':'1'}">
        <button ng-model="category.isEdditing" ng-click="$ctrl.edit(category)" class="btn btn-default">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-default" ng-click="$ctrl.remove(category)">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <category-add></category-add>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item category-item" ui-sref-active="active">
    <div class="row">
      <a ui-sref="categoryProducts({ categoryId: 0})">
        <div class="col-md-12">
          <span>Default</span>
        </div>
      </a>
    </div>
  </li>
  <li class="list-group-item category-item" ui-sref-active="active">
    <div class="row">
      <a ui-sref="favoritesProducts">
        <div class="col-md-12">
          <span>Favorites</span>
        </div>
      </a>
    </div>
  </li>
</ul>
