body{
  padding-top: 70px;
}

.category-btns-set{
  opacity: 0;
}

.category-item:hover .category-btns-set{
  opacity: 1;
}

.product-item{
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 15px 10px;
}

.product-modal{
  display: none;
}

a.btn-block{
  overflow: hidden;
}

button.btn-block{
  margin: 10px 0;
}

.form-group button.btn-block{
  margin: 0;
}

.modal-image-preview{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.modal-image-preview img{
  width: 100%;
}

.product-header{
  margin-bottom: 25px;
}

.category-item.active a{
  color: #fff;
  display: block;
  font-style: 16px;
  pointer-events: none;
}
