<div class="row">
  <div class="col-md-6 col-lg-6">
    <button class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.add()">Add</button>
  </div>
</div>
<div class="category-items">
  <div class="product-item row" ng-repeat="product in $ctrl.products | filter: ($ctrl.favoriteRoute || '') && {isFavorite : true} track by $index">
    {{product.link}}
    <div class="col-md-12 col-lg-12">
      <div class="row product-header">
        <div class="col-md-1 col-lg-1">
          <img height="16" width="16" ng-src="http://www.google.com/s2/favicons?domain={{product.url}}" />
        </div>
        <div class="col-md-8 col-lg-8">
          <a class="btn btn-default btn-block" ng-href="{{product.url}}" ng-bind="product.url"></a>
        </div>
        <div class="col-md-6 col-lg-3">
          <button ng-if="product.isFavorite" ng-click="$ctrl.toggleFavorite(product)" class="btn btn-default">
            <span class="glyphicon glyphicon-star"></span>
          </button>
          <button ng-if="!product.isFavorite" ng-click="$ctrl.toggleFavorite(product)" class="btn btn-default">
            <span class="glyphicon glyphicon-star-empty"></span>
          </button>
          <button class="btn btn-default" ng-click="$ctrl.show(product)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-default" ng-click="$ctrl.remove(product, $index)">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>
      <div class="row" ng-if="product.type == 'text'">
        <div class="col-md-12 col-lg-12"><h2 ng-bind="product.data.title"></h2></div>
        <div class="col-md-12 col-lg-12" ng-init="limit = 70; moreShown = false">
          <p>{{product.data.description | limitTo: limit}}
            <a ng-show="product.data.description.length > limit"
               href ng-click="limit=product.data.description.length; moreShown = true">  More
            </a>
            <a ng-show="moreShown" href ng-click="limit=70; moreShown = false"> Less </a>
          </p>
        </div>
      </div>
      <div class="row" ng-if="product.type == 'image'">
        <div class="form-group">
          <div class="modal-image-preview">
            <img ng-src="{{product.url}}" />
          </div>
        </div>
      </div>
      <div class="row" ng-if="product.type == 'youtube'">
        <div class="form-group" >
          <div class="modal-image-preview">
            <youtube-video video-url="product.url" player-width="'100%'"></youtube-video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
