<div>
  <div class="modal-header row">
      <div class="col-md-6 col-lg-6">
        <h3 class="modal-title">Add</h3>
      </div>
      <div class="col-md-1 col-lg-1 col-md-offset-5 col-lg-offset-5">
        <button class="btn btn-default" type="button" ng-click="close()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
  </div>
  <div class="modal-body">
      <form ng-model="product">
        <div class="form-group row">
            <div class="col-md-8 col-lg-8">
              <input type="text" ng-model="product.url" name="url" placeholder="Enter URL" class="form-control">
            </div>
            <div class="col-md-4 col-lg-4">
              <button type="text" class="btn btn-primary btn-block" ng-click="checkUrlType(product.url)">Preview</button>
            </div>
        </div>
        <div class="form-group">
          <select name="mySelect" class="form-control" ng-model="product.category_id">
            <option ng-selected="{{option._id == product.category_id}}" ng-repeat="option in categories" value="{{option._id}}">{{option.title}}</option>
          </select>
        </div>
        <div ng-if="product.type == 'text'">
          <div class="form-group">
            <input type="text" name="name" placeholder="Title" ng-model="product.data.title" class="form-control">
          </div>
          <div class="form-group">
            <textarea type="text" name="name" placeholder="Description" ng-model="product.data.description" class="form-control"></textarea>
          </div>
        </div>
        <div ng-if="product.type == 'image'">
          <div class="form-group">
            <div class="modal-image-preview">
              <img ng-src="{{product.url}}" />
            </div>
          </div>
        </div>
        <div ng-if="product.type == 'youtube'">
          <youtube-video video-url="product.url" player-width="'100%'"></youtube-video>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button ng-if="product.type != null" class="btn btn-primary" type="button" ng-click="submit(product)">OK</button>
  </div>
</div>
